<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: (isHandset$ | async) === false}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary"><span>kav-app</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['msisdn-cgi']">msisdn-cgi</a>
      <a mat-list-item [routerLink]="['cgi-activity-form-array']">msisdn-cgi-form-array</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>kav-app</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="beforeMenu">Pages</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['cdr-creator']">Cdr creator</button>
        <button mat-menu-item [routerLink]="['upload-mfi-cdr']">upload-mfi-cdr</button>
        <button mat-menu-item [routerLink]="['target']">Target</button>
        <button mat-menu-item [routerLink]="['msisdn-cgi']">msisdn-cgi</button>
        <button mat-menu-item [routerLink]="['cgi-activity-form-array']">msisdn-cgi-form-array</button>
        <button mat-menu-item [routerLink]="['add-and-delete-something']">sample of add and remove</button>
        <button mat-menu-item [routerLink]="['batch-data-generator']">Batch data generator</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
