<h2 mat-dialog-title>Add area</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="areaForm" (ngSubmit)="addRecord()" (reset)="onReset()">
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControlName]="'name'" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>CGI</mat-label>
            <input matInput [formControlName]="'cgi'" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Latitude</mat-label>
            <input matInput [formControlName]="'latitude'" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Longitude</mat-label>
            <input matInput [formControlName]="'longitude'" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="example-button-row" >
          <mat-dialog-actions>
            <button mat-stroked-button mat-dialog-close color="primary" type="submit">Add area</button>
            <button mat-stroked-button color="primary" type="reset">Reset</button>
          </mat-dialog-actions>
        </div>
      </form>
    </div>
  </div>
</div>

