<div class="mat-elevation-z8 mat-table">
  <table mat-table class="full-width-table" matSort  aria-label="Elements" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
      <td mat-cell *matCellDef="let row">{{row.key}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="key2">
      <th mat-header-cell *matHeaderCellDef>key2</th>
      <td mat-cell *matCellDef="let row">{{row.key2}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="column1">
      <th mat-header-cell *matHeaderCellDef>column1</th>
      <td mat-cell *matCellDef="let row">{{row.column1}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="column2">
      <th mat-header-cell *matHeaderCellDef>column2</th>
      <td mat-cell *matCellDef="let row">{{row.column2}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
