<div class="container">
  <div class="row col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <mat-form-field class="example-full-width">
        <mat-label>Mad records</mat-label>
        <input matInput placeholder="1" type="number">
      </mat-form-field>
  </div>
  <div class="row col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <mat-form-field class="example-full-width">
      <mat-label>Max Record In Flat File</mat-label>
      <input matInput placeholder="1" type="number">
    </mat-form-field>
  </div>
  <div class="row">
    <div class="batch-data-field-margin">
      <mat-form-field appearance="fill">
        <mat-label>Party A target Names</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="batch-data-field-margin">
      <mat-form-field appearance="fill">
        <mat-label>Party B target Names</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="batch-data-field-margin">
      <mat-form-field appearance="fill">
        <mat-label>Area list</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="btn-group">
      <button  class="mr-1" mat-stroked-button color="primary" type="reset">Reset</button>
      <button  class="mr-1" mat-stroked-button color="primary" type="button" (click)="prettyPrint()">Preview</button>
      <button  class="mr-1" mat-stroked-button color="primary" type="button" (click)="generateData()">Generate data</button>
    </div>
  </div>
</div>

