.show-grid {
  margin-top: 10px;
}

.batch-data-field-margin {
  margin-left: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
