<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Generate</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input placeholder="Target names" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Generate</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="generatorGroup" (ngSubmit)="generateMcng()" (reset)="onReset()">
      </form>
    </div>
  </div>
</div>
