<div [hidden]="hidden">
  <mat-radio-group (change)="radioChange($event)">
    <mat-radio-button [checked]="mainSelection" value="1">Select First</mat-radio-button>
    <mat-radio-button value="2">Random</mat-radio-button>
    <mat-radio-button value="3">Manual Select</mat-radio-button>
  </mat-radio-group>

  <div class="mat-table" *ngIf="manualSelect">
    <div class="mat-header-row">
      <div class="mat-header-cell">MSISDN</div>
      <div class="mat-header-cell">IMEI</div>
      <div class="mat-header-cell">IMSI</div>
    </div>
    <div class="mat-row">
      <div class="mat-cell">
        <mat-radio-group style="padding: 10px" (change)="radioChangeIdentity($event, 'MSISDN')">
          <div *ngFor='let item of msisdnList;let i = index'>
            <mat-radio-button [checked]="msisdnDefaultChecked(i)" value="{{item}}">{{item}}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div class="mat-cell">
        <mat-radio-group style="padding: 10px" (change)="radioChangeIdentity($event, 'IMEI')">
          <div *ngFor='let item of imeiList;let i = index'>
            <mat-radio-button value="{{item}}">{{item}}</mat-radio-button>
          </div>
          <mat-radio-button value="NONE">NONE</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mat-cell">
        <mat-radio-group style="padding: 10px" (change)="radioChangeIdentity($event, 'IMSI')">
          <div *ngFor='let item of imsiList;let i = index'>
            <mat-radio-button value="{{item}}">{{item}}</mat-radio-button>
          </div>
          <mat-radio-button value="NONE">NONE</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <mat-card>
    <div>
      <mat-label>Name:</mat-label>
      {{selectedName}}
    </div>
    <div>
      <mat-label>MSISDN:</mat-label>
      {{selectedMsisdn}}
    </div>
    <div>
      <mat-label>IMEI:</mat-label>
      {{selectedImei}}
    </div>
    <div>
      <mat-label>IMSI:</mat-label>
      {{selectedImsi}}
    </div>
  </mat-card>

  <mat-card *ngIf="partyData" style="margin-bottom: 10px">
    <div>
      <mat-label>Name:</mat-label>
      {{partyData.name}}
    </div>
    <div>
      <mat-label>MSISDN:</mat-label>
      {{partyData.MSISDN}}
    </div>
    <div>
      <mat-label>IMEI:</mat-label>
      {{partyData.IMEI}}
    </div>
    <div>
      <mat-label>IMSI:</mat-label>
      {{partyData.IMSI}}
    </div>
  </mat-card>
</div>

