.container {
    margin-top: 30px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

table {
    width: 100%;
}

.example-container {
    margin-top: 30px;
}

.example-button-row {
  margin: 5px 5px 5px 5px;
  box-sizing: content-box;
}

.example-button-row .mat-button-base {
  margin: 5px 5px 5px 5px;
}

th.mat-sort-header-sorted {
  color: black;
}

.textAlignment {
  left: 50%;
  top: 50%;
  position: absolute;
}
