<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-spinner *ngIf="showSpinner" class="textAlignment">
</mat-spinner>
<div class="container" *ngIf="!showSpinner">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="cdrCreatorForm" (ngSubmit)="addRecords()" (reset)="onReset()">
        <div class="form-group">
          <div>
            <ejs-datetimepicker id='datetimepicker' placeholder='Start call' [formControlName]="'callDate'" [step]="1"
                                format="{{displayDateFormat}}"></ejs-datetimepicker>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Call duration</mat-label>
              <input matInput placeholder="Ex. 20" [formControlName]="'callDuration'" autocomplete="off">
            </mat-form-field>
            <a (click)="increaseValue(1)">
              <mat-icon aria-hidden="false" matTooltip="increase by 1">keyboard_arrow_up</mat-icon>
            </a>
            <a (click)="decreaseValue(1)">
              <mat-icon aria-hidden="false" matTooltip="decrease by 1">keyboard_arrow_down</mat-icon>
            </a>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Party A</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControlName]="'partyATarget'"
                     [matAutocomplete]="auto"
                     (focusout)="preparePartyAData()"
              >
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredAOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div>
            <app-party-identity-selection [selectedPartyData]="partyAData" (newPartySelectionEvent)="assignPartyData('A', $event)"></app-party-identity-selection>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Party A Location</mat-label>
              <mat-select [formControlName]="'partyALocation'" (selectionChange)="preparePartyALocation()">
                <mat-option *ngFor="let target of loadedAreas" [value]="target.name">
                  {{target.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="partyALocation" style="margin-bottom: 10px">
            <mat-card>
              <div>
                <mat-label>Name:</mat-label>
                {{partyALocation.name}}
              </div>
              <div>
                <mat-label>cgi:</mat-label>
                {{partyALocation.cgi}}
              </div>
              <div>
                <mat-label>latitude:</mat-label>
                {{partyALocation.lat}}
              </div>
              <div>
                <mat-label>longitute:</mat-label>
                {{partyALocation.long}}
              </div>
            </mat-card>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Party B</mat-label>
              <mat-select [formControlName]="'partyBTarget'" (selectionChange)="preparePartyBData()">
                <mat-option *ngFor="let target of loadedTargets" [value]="target.name">
                  {{target.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <app-party-identity-selection [selectedPartyData]="partyBData" (newPartySelectionEvent)="assignPartyData('B', $event)"></app-party-identity-selection>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Party B Location</mat-label>
              <mat-select [formControlName]="'partyBLocation'" (selectionChange)="preparePartyBLocation()">
                <mat-option *ngFor="let target of loadedAreas" [value]="target.name">
                  {{target.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="partyBLocation" style="margin-bottom: 10px">
          <mat-card>
            <div>
              <mat-label>Name:</mat-label>
              {{partyBLocation.name}}
            </div>
            <div>
              <mat-label>cgi:</mat-label>
              {{partyBLocation.cgi}}
            </div>
            <div>
              <mat-label>latitude:</mat-label>
              {{partyBLocation.lat}}
            </div>
            <div>
              <mat-label>longitute:</mat-label>
              {{partyBLocation.long}}
            </div>
          </mat-card>
        </div>
        <div style="margin-top: 10px">
          <span *ngIf="cdrCreatorForm.touched && !cdrCreatorForm.valid" class="help-block">From is still not complete!</span>
        </div>
        <div>
          <button class="mr-1" mat-stroked-button color="primary" [disabled]="!cdrCreatorForm.touched && !cdrCreatorForm.valid"
                  type="submit">Add
          </button>
          <button class="mr-1" mat-stroked-button color="primary" type="reset">Reset</button>
          <button class="mr-1" mat-stroked-button color="primary" type="button" (click)="createRandomData()">RandomCdr</button>
          <button class="mr-1" mat-stroked-button color="primary" type="button" (click)="createOneRecordEveryArea()">Create 1 record for
            every area
          </button>
          <button class="mr-1" mat-stroked-button color="primary" type="button" (click)="openAddAreaDialog()">Add area</button>
          <input #jsonfileInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelect($event.target)">
          <button class="mr-1" mat-stroked-button color="primary" (click)="jsonfileInput.click()">Choose mfi(csv)</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="!showSpinner">
  <div class="row" style="margin-bottom: 15px">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Num Column -->
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> Num.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="callDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start call</th>
        <td mat-cell *matCellDef="let element">{{element.callDate}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="callDuration">
        <th mat-header-cell *matHeaderCellDef>Call duration</th>
        <td mat-cell *matCellDef="let element">{{element.callDuration}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyATarget">
        <th mat-header-cell *matHeaderCellDef>Party A</th>
        <td mat-cell *matCellDef="let element">{{element.partyATarget}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyALocation">
        <th mat-header-cell *matHeaderCellDef>Party A Location</th>
        <td mat-cell *matCellDef="let element">{{element.partyALocation}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="partyBTarget">
        <th mat-header-cell *matHeaderCellDef>Party B</th>
        <td mat-cell *matCellDef="let element">{{element.partyBTarget}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyBLocation">
        <th mat-header-cell *matHeaderCellDef>Party B Location</th>
        <td mat-cell *matCellDef="let element">{{element.partyBLocation}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let i = index" class="action-link">
          <a (click)="edit(element)">
            <mat-icon aria-hidden="false" matTooltip="Edit">edit</mat-icon>
          </a>
          <a (click)="removeRowData(element)">
            <mat-icon aria-hidden="false" matTooltip="Remove">delete_forever</mat-icon>
          </a>
          <a (click)="moveUp(element)">
            <mat-icon aria-hidden="false" matTooltip="Move up">keyboard_arrow_up</mat-icon>
          </a>
          <a (click)="moveDown(i, element)">
            <mat-icon aria-hidden="false" matTooltip="Move down">keyboard_arrow_down</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="dataSource.length>0" class="example-button-row">
    <button mat-stroked-button color="primary" type="button" (click)="downloadFile()">Download</button>
    <button mat-stroked-button color="primary" type="button" (click)="generateCdrMcngConfigDialog()">Generate</button>
    <button mat-stroked-button color="primary" type="button" (click)="onResetAll()">Reset All</button>
  </div>
</div>
<app-upload-mfi-cdr *ngIf="!showSpinner"></app-upload-mfi-cdr>


