<form [formGroup]="cgiActivityFormGroup">
    <div class="container" formArrayName="activityLs">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Company</th>
                <th>date</th>
            </tr>
            </thead>
            <div *ngFor="let activity of activityLs.controls; let i=index">

                <tbody>
                <tr>
                    <td>{{activity.get('cgi').value}}</td>
                    <td>{{activity.get('datebucket').value}}</td>
                </tr>
                </tbody>
            </div>

        </table>
    </div>
</form>
