<div class="container">
  <div class="container mg">
    <input #jsonfileInput type="file" (change)="onFileSelect($event.target)" name="myfile">
  </div>
  <div class="container mg">
    <button mat-stroked-button color="primary" (click)="onResetAll()" [hidden]="!dataSourceIsValid">Reset</button>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition -->

      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>Num.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="callDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start call</th>
        <td mat-cell *matCellDef="let element">{{element.callDate}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="callDuration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Call duration</th>
        <td mat-cell *matCellDef="let element">{{element.callDuration}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyATarget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Party A</th>
        <td mat-cell *matCellDef="let element"
            (click)="openPartyInfoDialog(element.partyATarget)">{{element.partyATarget}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyALocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Party A Location</th>
        <td mat-cell *matCellDef="let element" (click)="openAreaInfoDialog(element.partyALocation)">{{element.partyALocation}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="partyBTarget">
        <th mat-header-cell *matHeaderCellDef>Party B</th>
        <td mat-cell *matCellDef="let element" (click)="openPartyInfoDialog(element.partyBTarget)">{{element.partyBTarget}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partyBLocation">
        <th mat-header-cell *matHeaderCellDef>Party B Location</th>
        <td mat-cell *matCellDef="let element" (click)="openAreaInfoDialog(element.partyBLocation)">{{element.partyBLocation}}</td>
      </ng-container>

      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
