.mg {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center
}

.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

table {
  width: 100%;
}

.example-container {
  margin-top: 30px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 8px;
}

th.mat-sort-header-sorted {
  color: black;
}
